
.window-frame {
  background: #ccc;

  padding: 20px;
}

.active-window-frame {
  background: red;

  padding: 20px;
}

.frame-row-frame {
  padding: 20px;
}

.hover-row-frame {
  background: blue;
}

.hover-row-frame a {
  /*color: white;*/
}

.frame-cell-frame {
  padding: 10px;
}

.hover-cell-frame {
  background: white;
}

.parentHoverCell {
  display: inline-block;
}
