<h2 id="title">Welcome to Ember</h2>


{{#frame/window-frame}}
  {{#frame/row-frame}}
    {{#frame/cell-frame tagName="span"}}
      {{#link-to 'index'}}
        home
      {{/link-to}}
    {{/frame/cell-frame}}
  {{/frame/row-frame}}
  {{outlet}}
{{/frame/window-frame}}
