<ul>
  <li>
    {{#link-to 'simple-grid'}}
      Simple grid
    {{/link-to}}
  </li>

  <li>
    {{#link-to 'outlet-grid'}}
      Outlet grid
    {{/link-to}}
  </li>

  <li>
    {{#link-to 'scroll-grid'}}
      Scroll grid
    {{/link-to}}
  </li>
</ul>
